@font-face {
  font-family: "CommitMono";
  src: url("/fonts/commit-mono/CommitMono VariableFont.woff2") format("woff2");
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/commit-mono/CommitMono-400-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "CommitMono";
  src: url("/fonts/commit-mono/CommitMono-700-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-Variable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Zodiak";
  src: url("/fonts/zodiak/Zodiak-VariableItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}
